<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ddscanner">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.USE_CREDENTIALS" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".DDScannerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".services.NetworkLisetener">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity android:name=".screens.tutorial.TutorialActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screens.divespots.list.DiveSpotsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SelfCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.InternetClosedActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AddPhotosDoDiveSpotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SearchSpotOrLocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".screens.divespot.add.AddDiveSpotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.profile.edit.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.divespot.photos.DiveSpotPhotosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.EditorsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.CheckInPeoplesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.reiews.list.ReviewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.TermsOfServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ShowDsLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.DiveCentersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.sealife.add.AddSealifeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.divespot.edit.EditDiveSpotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.sealife.details.SealifeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.reiews.edit.EditCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.reiews.add.LeaveReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.divespot.details.DiveSpotDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PickLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SearchSealifeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.photo.slider.ImageSliderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.UserLikesDislikesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.GuideDescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.APIUpdatedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AboutDDSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.achievements.AchievementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LicensesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.FragmentTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.user.profile.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PhotosGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PickLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.profile.edit.EditUserProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".screens.profile.edit.EditDiveCenterProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.instructors.InstructorsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PickCountryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.profile.divecenter.DiveCenterSpotsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.divecemter.profile.languages.DiveCenterProfileLanguagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ChangeAddressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screens.divecenter.request.SendRequestActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".screens.diecenters.list.DiveCentersActivityNew"
            android:screenOrientation="portrait" />

        <service android:name=".services.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.CheckResentRunService" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ed7107427d4db24c8d8509e14cd4e3e30daf7805" />

        <activity
            android:screenOrientation="portrait"
            android:name=".screens.profile.edit.divecenter.search.CreateDiveCenterActivity" />
        <activity android:name=".screens.profile.edit.divecenter.search.SearchDiveCenterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.ExampleActivityCountry"
            android:screenOrientation="portrait"/>
        <activity android:name=".screens.photo.crop.CropImageActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.UpdateOSActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.TestActivity" >
        </activity>
        <activity android:name=".screens.divecenter.edit.DiveCenterEditActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".screens.brands.BrandsActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.BaseSearchActivity" android:screenOrientation="portrait" />
        <activity android:name=".screens.profile.divecenter.tours.list.DailyToursActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".screens.profile.divecenter.tours.details.TourDetailsActivity" android:screenOrientation="portrait" />
        <receiver android:name=".receivers.DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.NotificationReceiver" />
    </application>

</manifest>