<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddscanner">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <permission android:name="com.ddscanner.permission.C2D_MESSAGE" />

    <application
        android:name=".DDScannerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDt6pJZggDyU-aQy2Ks6i7WgZd6ayKK-I8" />

        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.AddDiveSpotActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activities.PickLocationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.FilterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activities.ReviewsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.DiveCentersActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.AddSealifeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.CityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.DivePlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SealifeDetails"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.LeaveReviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            >
        </activity>
        <activity
            android:name=".ui.activities.DiveCenterDetailsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.SearchSealifeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.ImageSliderActivity"
            android:screenOrientation="portrait" />
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.GCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".services.DDSInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".services.RegistrationIntentService"
            android:exported="false"></service><![CDATA[
        android:screenOrientation="portrait"/>
        ]]>
        <activity android:name=".ui.activities.SocialNetworks"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ed7107427d4db24c8d8509e14cd4e3e30daf7805" />
    </application>

</manifest>
