<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddscanner" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".DDScannerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".services.NetworkLisetener" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <data android:scheme="com.ddscanner" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity
            android:name=".ui.activities.UsersDivespotListSwipableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.DiveSpotsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LocationProvidersNotAvailableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LocationPermissionNotGrantedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.InternetClosedActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AddPhotosDoDiveSpotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SearchSpotOrLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AddDiveSpotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PickLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.DiveSpotPhotosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.EditorsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ReviewImageSliderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.CheckInPeoplesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ReviewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.TermsOfServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ShowDsLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.DiveCentersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AddSealifeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.EditDiveSpotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SealifeDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LeaveReviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.DiveCenterDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.DiveSpotDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SearchSealifeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ImageSliderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ForeignProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ForeignUserDiveSpotList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ForeignUserLikesDislikesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.GuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.GuideDescriptionActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.GCMListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.DDSInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".services.RegistrationIntentService"
            android:exported="false" />
        android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.SocialNetworks"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ed7107427d4db24c8d8509e14cd4e3e30daf7805" />
    </application>

</manifest>